<section class="todoapp">
  <!--
    <h1>Todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label>{{todo.title}}</label>
          <button class="destroy" (click)="removeTodo(todo)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
  </footer>-->

  <h3>Todos:</h3>
  <ul *ngFor="let todo of todos">
    <!--<li ><blink>{{todo.name}}</blink></li>-->
    <li class="red">{{todo.name}}</li>
    <li><b>Description: </b>{{todo.description}}</li>
    <li><b>Date Started: </b>{{todo.added}}</li>
    <li><b>Complete By: </b>{{todo.goal}}</li>
    <li><b>Level: </b>{{todo.level}}</li>
    <button class="destroy" (click)="deleteTodo(todo)">Delete</button>

  </ul>
<!--
<label>New hero name: <input #newHeroName /></label>
<button (click)="addHero(newHeroName.value); newHeroName.value=''">Add Hero</button>-->

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
</section>
